<template>

    <lightning-card title="Get picklist values of Type field">

        <div class="slds-m-around_medium">

            <template if:true={TypePicklistValues.data}>

                <lightning-combobox name="Coffee Type:" label="Coffee Type:" value={value}

                    options={TypePicklistValues.data.values} onchange={handleChange}>

                </lightning-combobox>
                <div style="height:5px; margin-left:200px"></div>
            </template>
                    <lightning-button
                        class="slds-m-top_small"
                        type="submit" 
                        label="Выбрать">
                    </lightning-button>

            <p>Selected value is: {value}</p>

        </div>

    </lightning-card>

</template>